form {
    margin-top: 40px;
    margin-left: 280px;
}

label,
input,
button {
    display: block;
    background: none;
    border: none;
    width: 50%;
}

input:focus {
    outline: 1px solid silver;
}

label {
    border: 1px solid silver;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
}

input {
    padding: 5px;
    width: 85%;
}

button {
    padding: 20px;
    background: #f0454c; 
    color: white; 
}